.footer {
    background-color: var(--primary-bg-color);
    color: white;
    text-align: center;
    padding: 10px 0;
    font-family: Arial, sans-serif;
    z-index: 1000;
    position: relative;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
    }



.footer-content {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    font-size: 14px;
    color: var(--primary-text-color);
  }
  
  .footer-content p {
    margin: 0;
    font-size: 14px;
  }
  
  @media (max-width: 600px) {
    .footer-content p {
      font-size: 12px;
    }
  }
  
  @media (min-width: 601px) {
    .footer-content p {
      font-size: 16px;
    }
  }

.footer-content a {
    color: var(--primary-text-color);
    text-decoration: none;
  }

.footer-content a:hover {
    text-decoration: underline;
  }
.cuurentYear {
    font-weight: bold;
  }

.cuurentYear {
    font-weight: bold;
  }

.cuurentYear {
    font-weight: bold;
  }

