<nav *ngIf="!isLoginPage" class="navbar navbar-expand-lg bg-dark" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/home">Movies</a>
    <button class="navbar-toggler" type="button" 
    data-bs-toggle="collapse" 
    data-bs-target="#navbarSupportedContent" 
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/home"> <i class="bi bi-house"></i> Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" routerLink="/forms"><i class="bi bi-chat-dots"></i> FeedBack</a>
        </li>
        <li class="nav-item">
          <ng-container>
            <label class="switch">
              <span class="sun">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                  <g fill="#ffd43b">
                    <circle r="5" cy="12" cx="12"></circle>
                    <path d="M21 13h-1a1 1 0 0 1 0-2h1a1 1 0 0 1 0 2zM4 13H3a1 1 0 0 1 0-2h1a1 1 0 0 1 0 2zM17.66 7.34a1 1 0 0 1-.66-.29 1 1 0 0 1 0-1.41l.71-.71a1 1 0 1 1 1.41 1.41l-.71.71a1 1 0 0 1-.75.29z"></path>
                  </g>
                </svg>
              </span>
              <span class="moon">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512">
                  <path fill="#ffffff" d="M223.5 32C100 32 0 132.3 0 256s100 224 223.5 224c60.6 0 115.5-24.2 155.8-63.4 5-4.9 6.3-12.5 3.1-18.7s-10.1-9.7-17-8.5c-9.8 1.7-19.8 2.6-30.1 2.6C238.4 391 160 312.2 160 216c0-65.8 36-123.1 89.3-153.3 6.1-3.5 9.2-10.5 7.7-17.3S249.7 33.9 242.7 33.3C236.4 32.8 230.1 32.5 223.5 32z"/>
                </svg>
              </span>
              <input type="checkbox" (change)="toggleTheme()" class="input">
              <span class="slider"></span>
            </label>
          </ng-container>
          
      </li>
      </ul>
      <div class="d-flex align-items-center" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" [(ngModel)]="searchMovieTitle">
        <button class="btn btn-success me-2" type="button"  
        [routerLink]="['/search/'+searchMovieTitle]"  
        [disabled]="!searchMovieTitle || searchMovieTitle.trim() === ''">Search  
        </button>  
        <ng-container>
          <button class="btn btn-danger" (click)="logout()">Logout</button>
        </ng-container>
      </div>
    </div>
  </div>
</nav>
