.navbar {  
    padding: 1rem 1.5rem;  
    background-color: var(--primary-bg-color);  
  }  
  
  .navbar-brand {  
    font-size: 1.5rem;  
    font-weight: bold;  
    color: #fff;  
    text-transform: uppercase;  
  }  
  
  .nav-link {  
    color: #fff;  
    font-size: 1rem;  
    transition: color 0.3s ease;  
  
    &:hover {  
      color: #17a2b8;  
    }  
  }  
  
  input.form-control {  
    border-radius: 0.5rem;  
    border: 1px solid #ced4da;  
    transition: box-shadow 0.3s ease;  
  
    &:focus {  
      box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);  
    }  
  }  
  
  button.btn {  
    border-radius: 0.5rem;  
    font-weight: bold;  
    transition: background-color 0.3s ease, box-shadow 0.3s ease;  
  
    &.btn-success {  
      background-color: #28a745;  
      border: none;  
  
      &:hover {  
        background-color: #218838;  
      }  
    }  
  
    &.btn-primary {  
      margin-left: 0.3rem;  
      background-color: #007bff;  
      border: none;  
  
      &:hover {  
        background-color: #0056b3;  
      }  
    }  
  }  
  
  li,  
  a {  
    cursor: pointer;  
  }  
  .switch {
    font-size: 17px;
    position: relative;
    display: inline-block;
    width: 64px;
    height: 34px;
  }
  
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #73C0FC;
    transition: .4s;
    border-radius: 30px;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 30px;
    width: 30px;
    border-radius: 20px;
    left: 2px;
    bottom: 2px;
    z-index: 2;
    background-color: #e8e8e8;
    transition: .4s;
  }
  
  .sun svg {
    position: absolute;
    top: 6px;
    left: 36px;
    z-index: 1;
    width: 24px;
    height: 24px;
  }
  
  .moon svg {
    fill: #73C0FC;
    position: absolute;
    top: 5px;
    left: 5px;
    z-index: 1;
    width: 24px;
    height: 24px;
  }
  
  /* .switch:hover */.sun svg {
    animation: rotate 15s linear infinite;
  }
  
  @keyframes rotate {
   
    0% {
      transform: rotate(0);
    }
  
    100% {
      transform: rotate(360deg);
    }
  }
  
  /* .switch:hover */.moon svg {
    animation: tilt 5s linear infinite;
  }
  
  @keyframes tilt {
   
    0% {
      transform: rotate(0deg);
    }
  
    25% {
      transform: rotate(-10deg);
    }
  
    75% {
      transform: rotate(10deg);
    }
  
    100% {
      transform: rotate(0deg);
    }
  }
  
  .input:checked + .slider {
    background-color: #183153;
  }
  
  .input:focus + .slider {
    box-shadow: 0 0 1px #183153;
  }
  
  .input:checked + .slider:before {
    transform: translateX(30px);
  }
  