
<div class="row">
    <div class="col-12">
            <figure class="figure" *ngFor="let item of details">
                <div class="card">
                <img [src]="item.cover" class="card-image img-fluid rounded-start" alt="...">
                <figcaption class="figure-caption">{{item.title}} </figcaption>
                <figcaption class="figure-caption"><i class="bi bi-star"></i> <b>{{item.rating}}</b></figcaption>
            </div>
            </figure>
    </div>
</div>
    
    
    