
table {
    border: 1px solid #dee2e6;
    width: 100%;
    border-collapse: collapse;
} 
th {
    background-color: lightblue;
    border: 1px solid #080808;
    padding: 5px;
    text-align: left;
}

td {
    border: 1px solid #4a85c0;
    padding: 5px;
    text-align: left;
}
