 <h1>Todo List</h1>
 @if (!todoItems().length){
    <p>Loading....</p>
 } 

 <label>Filter Todos: </label>
 <input name="searchTerm" 
 [(ngModel)]="searchTerm" placeholder="search todos.." />


<div class="row">
    <div class="col-12">
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Title</th>
                    <th>Completed</th>
                    <th>User Id</th>
                </tr>
            </thead>    
            <tbody>
                @for (user of todoItems() | filterTodos : searchTerm(); track $index) {
                <tr>
                    <td>{{ user.id }}</td>
                    <td>{{ user.title }}</td> 
                    <td>{{user.completed}}</td>
                    <td>{{user.userId}}</td>         
                </tr>
                }
            </tbody>
        </table>
    </div>
</div>
