  .accordion {
   justify-content: center;
   
  .accordion-header {
    background-color: #9b8f8f;
    border: none;
  }
  .accordion-item {
    background-color:#4389c7;
    border: 2px;;
    margin-bottom: 15px;
  }

  .accordion-button {
    background-color: transparent; 
    border: 1px;;
    color: #000;
    box-shadow: none;
  }

  .accordion-body {
    background-color:antiquewhite; 
  } 
  }

  .btn-secondary {
    background-color: #4389c7;
    color: white;
    border: 1px;;
    cursor: not-allowed;
  }
  