<div *ngIf="reviews.length > 0; else noReviews" class="accordion" id="accordionExample">
  <div class="accordion-item" *ngFor="let item of reviews; let i = index">
    <h2 class="accordion-header">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" [attr.data-bs-target]="'#collapse' + i" aria-expanded="true" [attr.aria-controls]="'collapse' + i">
        <span>
          <i class="bi bi-star-fill"></i> &nbsp; <b>{{item.author_details.rating}}/10</b>
        </span>
        <span class="ms-auto">
          Updated At: {{ item.updated_at | date: 'MMM d, yyyy' }}
        </span>
      </button>
    </h2>
    <div [id]="'collapse' + i" class="accordion-collapse collapse" [ngClass]="{'show': i === activeIndex}" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <p>{{item.content}}</p>
        <p class="blockquote-footer">{{item.author}}</p>
        <p>
          <img [src]="'https://image.tmdb.org/t/p/w500/' + item.author_details.avatar_path" [alt]="item.name" class="actor-image">
        </p>
      </div>
    </div>
  </div>
</div>

<ng-template #noReviews>
  <div class="text-center">
    <p class="text-white">No Reviews Available</p>
  </div>
</ng-template>
