<div class="container-fluid">
  <h1 class="text-center my-4">Movie Title</h1>

  <div class="row g-4">
    <div class="col-lg-6">
      <div class="ratio ratio-16x9">
        <iframe
          src="https://www.youtube.com/embed/h44kpghglWw?si=4YBYDgKpSZcVKlCd"
          title="Movie Trailer"
          allowfullscreen>
        </iframe>
      </div>
    </div>

    <div class="col-lg-6">
      <p class="lead">This is going to be a placeholder for the movie plot</p>
      <div class="row g-3">
        <div class="col-md-4">
          <div class="card">
            <div class="card-header">Stars</div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">Star 1 Name</li>
              <li class="list-group-item">Star 2 Name</li>
              <li class="list-group-item">Star 3 Name</li>
            </ul>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card">
            <div class="card-header">Directors</div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">Director 1 Name</li>
              <li class="list-group-item">Director 2 Name</li>
              <li class="list-group-item">Director 3 Name</li>
            </ul>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card">
            <div class="card-header">Genres</div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">Genre 1 Name</li>
              <li class="list-group-item">Genre 2 Name</li>
              <li class="list-group-item">Genre 3 Name</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <hr class="my-4">

  <div class="row g-4">
    <div class="col-md-6">
      <h1>Actors</h1>
      <div class="text-center">
        <app-details-actors></app-details-actors>
      </div>
      <div class="text-center mt-3">
        <a class="btn btn-warning" [routerLink]="['/details/actors/'+movieId]">
          View all actors
        </a>
      </div>
    </div>
  </div>

  <hr class="my-4">

  <div class="row g-4">
    <div class="col-md-6">
      <h1>Reviews</h1>
      <div class="text-center">
        <app-details-reviews></app-details-reviews>
      </div>
      <div class="text-center mt-3">
        <a class="btn btn-warning" [routerLink]="['/details/reviews/'+movieId]">
          View all reviews
        </a>      
      </div>
    </div>
  </div>

  <hr class="my-4">

  <div class="row g-4">
    <div class="col-md-6">
      <h1>Similar Movies</h1>
      <div class="text-center">
        <app-details-movies></app-details-movies>
      </div>
      <div class="text-center mt-3">
        <a class="btn btn-warning" [routerLink]="['/details/movies/'+movieId]">
          View all movies
          </a>
      </div>
    </div>
  </div>
</div>
