<div class="container-fluid" *ngIf="movieDetails">
  <div class="d-flex align-items-center my-4">
    <button class="btn btn-primary me-3" (click)="goBack()">
      Back
    </button>
    <h1 class="flex-grow-1 text-center">{{ movieDetails.title }}</h1>
  </div>
  <div class="row g-4">
    <div class="col-lg-6">
      <div class="ratio ratio-16x9">
        <iframe
          *ngIf="selectedTrailerUrl"
          [src]="selectedTrailerUrl"
          title="Movie Trailer"
          allowfullscreen
          class="video-frame">
        </iframe>
        <div *ngIf="!selectedTrailerUrl" class="no-trailer-message">
          <p>Trailer not available</p>
        </div>
      </div>
    </div>

    <div class="col-lg-6">
      <p class="lead">{{ movieDetails.overview }}</p>
      <div class="row g-3">
        <div class="col-md-4">
          <div class="card shadow-lg">
            <div class="card-header">Characters</div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item" *ngFor="let star of (credits?.cast?.slice(0, 3) || [])">
                {{ star.name }} as {{ star.character }}
              </li>                          
            </ul>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card shadow-lg">
            <div class="card-header">Genres</div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item" *ngFor="let genre of movieDetails.genres">
                {{ genre.name }}
              </li>
            </ul>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card shadow-lg">
            <div class="card-header">Directors</div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item" *ngFor="let director of credits.crew | filterByJob:'Director'">
                {{ director.name }}
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <hr class="my-4">

  <div class="row g-4">
    <div class="col-md-12">
      <h1>Actors</h1>
      <div class="text-center">
        <app-details-actors [limit]="5"></app-details-actors>
      </div>
      <div class="text-center mt-3">
        <a class="btn btn-warning" [routerLink]="['/details/actors', movieId]">
          View all actors
        </a>
      </div>
    </div>
  </div>
  

  <hr class="my-4">

  <div class="row g-4">
    <div class="col-md-6">
      <h1>Reviews</h1>
      <div class="text-center">
        <app-details-reviews [limit]="5" (reviewsFetched)="handleReviewsFetched($event)"></app-details-reviews>
      </div>
      <div class="text-center mt-3" *ngIf="hasReviews">
        <a class="btn btn-warning" [routerLink]="['/details/reviews', movieId]">
          View all reviews
        </a>      
      </div>
    </div>
  </div>

  <hr class="my-4">

  <div class="row g-4">
    <div class="col-md-12">
      <h1>Similar Movies</h1>
      <div class="text-center">
        <app-details-movies [limit]="5"></app-details-movies>
      </div>
      <div class="text-center mt-3">
        <a class="btn btn-warning" [routerLink]="['/details/movies', movieId]">
          View all movies
        </a>
      </div>
    </div>
  </div>
