button {
    background-color: yellow;
}


@media (max-width: 768px) {
    .example-class {
      font-size: 14px;
    }
  }
  
  @media (min-width: 769px) {
    .example-class {
      font-size: 18px;
    }
  }
  