.page-container {
    background-image: url('../assets/page-not-found.jpg');
    background-size:contain;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

.home-button {
    margin-top: 31.25rem;
}