<div class="container my-4">
    <h1 class="text-center mb-4">Results for {{ movieTitle }}</h1>
    <hr>
    <table class="table table-hover align-middle">
      <thead class="table-dark">
        <tr>
          <th scope="col" class="text-center">Id</th>
          <th scope="col" class="text-center">Image</th>
          <th scope="col" class="text-center">Title</th>
          <th scope="col" class="text-center">Description</th>
          <th scope="col"></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let movie of movies">
          <td>{{movie.id}}</td>
          <td>
            <img [src]="movie.cover" class="img-thumbnail hover-effect" alt="Movie Cover" width="100">
          </td>
          <td>{{movie.title}}</td>
          <td>{{movie.description}}</td>
          <td class="text-center">
            <a href="#" class="btn btn-warning me-2" data-bs-toggle="modal" data-bs-target="#staticBackdrop" (click)="showTrailer(movie.trailer, movie.title)">
              <i class="bi bi-film"></i> Trailer
            </a>          
          </td>
          <td class="text-center">
            <a [routerLink]="['/details/'+movie.id]" class="btn btn-primary">
              <i class="bi bi-info-circle"></i> Details
            </a>
          </td>
        </tr>
        <tr *ngIf="movies.length > 0">
          <td colspan="6" class="text-center bg-dark text-white">Total movies found: {{movies.length}}</td>
        </tr>
        <tr *ngIf="movies.length === 0">
          <td colspan="6" class="text-center">No movies found</td>       
        </tr>
      </tbody>
    </table>   
  </div>
    

<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">{{ selectedMovieTitle }}</h1>
      </div>
      <div class="modal-body">
        <div class="ratio ratio-16x9">
          <iframe
            *ngIf="selectedTrailer"
            [src]="selectedTrailer"
            title="Movie Trailer"
            allowfullscreen>
          </iframe>
          <div *ngIf="!selectedTrailer" class="no-trailer-message">
          <p>Trailer not available</p>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

