
html, 
body {
  margin: 0;
  padding: 0;
  --primary-bg-color: #ffffff;
  --primary-text-color: #333;
  --main-bg-color: #ffffff;
  font-size: 16px;
  background-color: var(--main-bg-color);
  color: var(--primary-text-color);
}

.dark-mode {
  --primary-bg-color: #222;
  --primary-text-color: #ffffff;
  --main-bg-color: #121212;
}

body.dark-mode {
  background-color: var(--main-bg-color);
  color: var(--primary-text-color);
}

 * {
    outline: none;
 }

 h1 {
    color:#ffc107;
 }  
   
 @media screen and (max-width: 600px) {
   .my-element {
     font-size: 16px;
     padding: 10px;
   }
 }


 @media screen and (min-width: 601px) {
   .my-element {
     font-size: 24px;
     padding: 20px;
   }
 }
 