html, body {
    margin: 0;
    padding: 0;
    background-color: rgb(110, 117, 119);
    color: white;
    font-size: 16px;
}
 * {
    outline: none;
 }

 h1 {
    color:#ffc107;
 }  
   
 @media screen and (max-width: 600px) {
   .my-element {
     font-size: 16px;
     padding: 10px;
   }
 }


 @media screen and (min-width: 601px) {
   .my-element {
     font-size: 24px;
     padding: 20px;
   }
 }