<div class="container-fluid">
  <div class="row">
    <!-- Carousel -->
    <div class="col-md-8">
      <div id="carouselExampleCaptions" class="carousel slide">
        <div class="carousel-indicators">
          <button *ngFor="let item of carouselItems; let i = index" type="button"
            [class.active]="i === 0"
            [attr.data-bs-slide-to]="i"
            [attr.data-bs-target]="'#carouselExampleCaptions'"
            [attr.aria-label]="'Slide ' + (i + 1)"
            [attr.aria-current]="i === 0 ? 'true' : null"></button>
        </div>
        <div class="carousel-inner custom-carousel-inner">
          <div *ngFor="let item of carouselItems; let i = index" class="carousel-item" [class.active]="i === 0">
            <a [routerLink]="['/details', item.id]">
              <img [src]="item.imageUrl" class="d-block w-100" [alt]="item.title">
              <div class="carousel-caption d-none d-md-block bg-dark">
                <h5>{{ item.title }}</h5>
                <p>{{ item.description }}</p>
              </div>
            </a>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>

    <!-- Cards -->
    <div class="col-md-4">
      <div *ngFor="let card of moviecards  | slice:0:2" class="card mb-3" style="max-width: 540px;">
        <div class="row g-0">
          <div class="col-md-4">
            <a [routerLink]="['/details', card.id]">
              <img [src]="card.imageUrl" class="img-fluid rounded-start" [alt]="card.title">
            </a>
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">{{ card.title }}</h5>
              <p class="card-text">{{ card.description | truncate:15 }}</p>
              <p class="card-text">
                  <button  class="btn btn-warning" (click)="getTrailer(card.id)"><i class="bi bi-film"></i> Trailer</button>
              </p>
              <p class="card-text">
                <small class="text-body-secondary">Last updated : {{ updateLastUpdated(card.lastUpdatedTimestamp) }}</small>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <br>
  <div class="row">
    <h1>Fan Favorites</h1>
    <hr>
    <div class="col-md-3" *ngFor="let item of fanfavorites">
      <div class="card h5">
        <a [routerLink]="['/details', item.id]">
          <img [src]="item.imageUrl" class="card-image img-fluid rounded-start" [alt]="item.title">
        </a>
        <div class="card-body">
          <h5 class="card-title">{{ item.title }}</h5>
          <p class="card-text text-body-secondary text-center"><i class="bi bi-calendar-fill"></i> {{ item.release_date }}</p>
        </div>
        <div class="card-footer text-center text-muted">
          <span style="float:left"> <i class="bi bi-star-fill"></i> {{ item.vote_average }}</span>
          <span style="float:right"><i class="bi bi-trophy-fill"></i> {{ item.vote_count }}</span>
        </div>
      </div>
    </div>
  </div>
</div>


<!--Movie Trailer -->

<div *ngIf="showPopup" class="video-container">
  <div class="popup-content">
    <div class="ratio ratio-16x9">
      <iframe 
        width="560" 
        height="315" 
        [src]="selectedTrailerUrl"
        frameborder="0" 
        allowfullscreen>
      </iframe>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-success" (click)="closePopup()">Close</button>
    </div>
  </div>
</div>

