
  body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
  }

  
  /* Carousel Styling */
  .custom-carousel-inner img {
    max-height: 500px;
    object-fit:fill;
    width:auto;
  }
  
  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    width: 50px;
    height: 50px;
  }
  
  .carousel-caption {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 8px;
  }
  
  /* Card Hover Effects */
  .card:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease-in-out;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .btn-warning {
    background-color: #f0ad4e;
    border-radius: 20px;
    transition: background-color 0.3s ease-in-out;
  }
  
  .btn-warning:hover {
    background-color: #e09528;
  }
  
  .card-footer span {
    display: inline-block;
  }


  .video-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8); /* Semi-transparent background */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1050;
  }
  
  .popup-content {
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
    max-width: 600px;
    width: 100%;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  }
  
  .ratio {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
  }
  
  .ratio iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  
  .modal-footer {
    display: flex;
    justify-content: flex-end;
    padding: 1rem;
    background-color: #f8f9fa;
    border-top: 1px solid #e9ecef;
    justify-content: center;
    align-items: center;
  }
  
  .modal-footer .btn-secondary {
    background-color: #6c757d;
    border: none;
    padding: 0.5rem 1rem;
  }
  
  .modal-footer .btn-secondary:hover {
    background-color: #5a6268;
  }
  
  .modal-footer .btn-secondary:focus {
    box-shadow: none;
  }
  